aiohttp >= 3.9.3
aiohttp-proxy >= 0.1.2
better-proxy >= 1.1.5
loguru >= 0.7.2
pydantic-settings >= 2.2.1
Pyrogram >= 2.0.106
PySocks >= 1.7.1
TgCrypto >= 1.2.5
typing_extensions >= 4.11.0
requests[socks] >= 2.32.3
